.move {
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 250px;
    horizontal-align: center;
    padding: 5px;
    text-align: center;
    border-radius: 20;
    border-color: #000;
    margin: 16px;
}

.question {
    display: ;
    float: left;
    width: auto;
    font-size: 20px;
    color: 111;
    horizontal-align: center;
}